extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= `${projectMatch.project_name}`

        p= `${projectMatch.description}`

      .project-tech-links-box.box
        h6 Technologies
          ul
          each technology in projectMatch.technologies
            li= technology

        a.btn-link(href=`${projectMatch.live_link}`) Live Demo
        a.btn-link(href=`${projectMatch.github_link}`) GitHub Repo

    .project-img-box.box

      img.project-img(src=`${projectMatch.image_urls[0]}`, width="1200", height="550", alt=`${projectMatch.project_name}`)
      img.project-img(src=`${projectMatch.image_urls[1]}`, width="1200", height="550", alt=`${projectMatch.project_name}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
